.bubble {
    display: flex;
    gap: 0.5rem;
}

.bubble-avatar {
    background: #6366f1;
    color: aliceblue;
    font-weight: bold;
    border-radius: 10rem;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
    flex-shrink: 0;
}

.bubble-container {
    background: white;
    border: 1px solid #cbd5e1;
    border-radius: 0.75rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    padding: 0.5rem;
}

.bubble-head {
    display: flex;
    align-items: center;
    gap: 0.275rem;
}
