button {
    background: white;
    border: 1px solid #cbd5e1;
    border-radius: 0.75rem;
    padding: 0.5rem 0.75rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    cursor: pointer;
    transition: transform 150ms;

    &:hover {
        filter: brightness(95%);
    }

    &:active:focus {
        transform: scale(0.95);
    }
}

button.primary {
    background: #6366f1;
    color: aliceblue;
    border-color: transparent;
}
