@import "button";
@import "bubble";
@import "sandbox";

/* Core Styles */
*, :after, :before, ::backdrop {
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
}

body, h3 {
    margin: 0;
}

#root {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #f1f5f9;
}
